.chat-page {
    display: flex;
    height: 450px; 
    border-radius: 0.5rem; 
    overflow: hidden;
    background-color: rgba(156, 163, 175, 0); 
    background-clip: padding-box;
    backdrop-filter: blur(32px); 
   
  }
  
  @media (min-width: 768px) {
   
    .custom-container {
      height: 550px;
    }
  }
  