.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  

.project-grid::-webkit-scrollbar {
  display:none;
}
 
  

  @media (max-width: 768px) {
    .project-grid {
      grid-template-columns: 1fr;
    }
  }