
.profile-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-bottom: 20px;
}

.profile-header .back-button {
  margin-right: auto; 
}

.profile-name {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin: 0;
  flex-grow: 1;  
  display: flex;
  justify-content: center;
}


.back-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #45a049;
}

.back-button:focus {
  outline: none;
}


.profile-info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
  justify-content: space-between;
}

.profile-info-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 48%; 
  text-align: left;
  font-size: 16px;
}

.profile-info-item p {
  color: #555;
  font-size: 14px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .profile-section {
    padding: 15px;
    width: 90%;
  }

  .profile-info {
    flex-direction: column; 
  }

  .profile-info-item {
    width: 100%; 
    margin-bottom: 10px;
  }

  .back-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
